<%- include('./head', {container:false}) %>

 <a class="linkie" href="/overviewpage">
    <div class="backtab">
        <img src="/arrow-back.png" alt="back arrow">
        <h3>Tekenmethodes</h3>
    </div>
</a>


<div class="nav">
    <a href="#beschrijving">Beschrijving</a>
    <a href="#stappenplanbutton">Stappenplan</a>
    <a href="#categorieen">Categorieën</a>
    <a href="#voorbeelden">Voorbeelden</a>
</div>


<main class="main-detailpage">
    <h1><%- method.title %></h1>
    <div class="beschrijving " id="beschrijving">

        <img src="<%- method.template.url %>" alt="<%- method.template.url %>"tekening>
        <%- method.description.html %>    
    </div>

    <div class="buttondeel">
     <button id="stappenplanbutton">
        <h2>Stappenplan</h2>
        <img src="/pijl-hexagon-naar-beneden.svg" alt="Pijl naar beneden">
     </button>
    </div>
    <div id="stappen" class="stappen">
        <ol>
            <% method.steps.forEach(step => { %>
                <li>
                    <h3><%- step.title %></h3>
                    <div>
                        <%- step.description.html %>
                    </div>
                </li>
            <% }) %>
        </ol>
            
    </div>

     <form action="/detailpagina/<%= method.slug %>" method="post">
            <% if(locals.error !==undefined){ %>
                <p class="message">
                    <%= error %>
                </p>
                <% } %>

                    <fieldset>
                        <h2>comment</h2>

                        <label for="author">Naam</label>
                        <input required type="text" name="author" id="author" placeholder="..." />

                        <label for="text">Jouw comment</label>
                        <input required type="text" name="text" id="text" placeholder="..." />

                        <label for="methodId"></label>
                        <input type="hidden" name="methodId" id="methodId" value="<%= method.id %>" />

                        <input class="submit-button" type="submit" value="Verzend" />
                    </fieldset>
        </form>

    <section class="comment-results">
            <% comments.forEach(comment => { %>
                <article>
                <%= comment.author %>
                <%= comment.text %>
                
                
                </article>
            <% }) %>
    </section>


</main>

<footer>
   <h3>Visual Thinking in het HBO</h3>
  <h3>© Charley Muhren, 2023</h3>
</footer>
<%- include('./foot') %>